.datePickerContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 10px;
  gap: 10px;
}

.datePickerInput {
  padding: 0.5em;
  font-size: 1em;
  width: 200px;
}

.inputWrapper {
  display: flex;
  align-items: center;
}

.calendarIcon {
  margin-left: 8px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.calendar {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 200px;
}

  