.active {
  background-color: red; 
}

.navbarNavigation {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  height: 60px; 
  background-color: crimson;
  position: sticky;
  top: 0;
  padding: 0 30px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  overflow: hidden; 
}

.logoContainer {
  display: flex; 
  align-items: center; 
}

.logo img {
  width: 50px;
  height: auto; 
  max-height: 50px; 
  object-fit: contain; 
}

.navbarNavigation .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: azure;
  margin-left: 10px; 
  text-decoration: none; 
}

.navbarNavigation ul {
  display: flex; 
  margin: 0;
  padding: 0; 
  align-items: center; 
}

.navbarNavigation ul li {
  list-style: none; 
}

.navbarNavigation ul li a {
  display: flex; 
  align-items: center;
  text-decoration: none;
  color: azure;
  padding: 0.5rem 1rem; 
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
  height: 100%; 
  line-height: 60px; 
}

.navbarNavigation ul li a:not(.active):hover {
  color: lightgray; 
}

.navbarNavigation ul li a.active {
  background-color: red; 
}

.navbarNavigation .menu {
  display: none; 
  position: absolute; 
  top: 50%; 
  right: 0.5rem; 
  transform: translateY(-50%); 
  flex-direction: column; 
  justify-content: space-between; 
  width: 2.25rem;
  height: 2rem;
}

.navbarNavigation .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: white;
  border-radius: 0.2rem;
  margin: 0; 
}

@media (max-width: 760px) {
  .navbarNavigation .menu {
    display: flex; 
  }

  .navbarNavigation {
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    height: 60px; 
  }

  .navbarNavigation ul {
    visibility: hidden; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 75px; 
    right: 0px;
    width: 300px;
    height: 100vh;
    background-color: lightcoral;
    opacity: 0;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.6);
    padding: 40px 10px;
    transition: 0.15s ease-in-out;
  }

  .navbarNavigation ul.open {
    visibility: visible;
    opacity: 1;
  }

  .navbarNavigation ul li {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }

  .navbarNavigation ul li a {
    margin: 0.2rem 0.5rem; 
  }
}


