.container {
  padding: 20px;
  width: 50%;
}

.slider {
  position: relative;
  height: 10px;
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  margin: 15px 0 20px;
}

.range {
  position: absolute;
  height: 100%;
  background-color: crimson;
  border-radius: 5px;
  z-index: 0;
}

.thumb {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: crimson;
  cursor: grab;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.slider-inputs {
  display: flex;
  justify-content: column;
  align-items: center;
}

.slider-inputs div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="number"] {
  width: 100px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
