.table {
  margin: 0 auto;
  text-align: left;
  border: 0.25px solid lightgrey;
  box-shadow: lightgrey 0px 1.25px 5px;
  border-radius: 10px;
  overflow: hidden;
}

.tableRow {
  text-align: left;
  padding: 5%;
  height: 2.5rem;
  cursor: pointer;
}

.headerKey:hover {
  background-color: rgb(225, 225, 225);
}

tbody .tableRow:not(:last-child) {
  border-bottom: 0.5px lightgrey solid;
}

.tableHead {
  background-color: rgb(239, 238, 238);
}

th, td {
  padding-left: 15px;
}
th:nth-child(1) {
  padding-left: 15px;
}
.tableRow td:nth-child(1) {
  padding-left: 15px
}

thead th:nth-child(1) {
  width: 20%;
}

#stock_ticker, #full_name {
  font-weight: bold;
}

.paginationFooter {
  display: flex;
  
  align-items:flex-start;
  
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white; /* Optional: Adds background for readability */
  /* z-index: 10;  Ensure it stays on top of other content */
  padding: 10px 0px; /* Optional: Adds padding for spacing */
  text-align: center;
  width: 100%;
  box-sizing: border-box;

}

.paginating {
  
  display: flex;
  justify-content:center;
  flex: 1;
  
}

.pageSizeSelect {
  display: flex;
  justify-content: end;
  padding: 0px 10px;
}

tbody tr.tableRow:hover {
  background-color: rgb(245, 245, 245)
}
